# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dll
*.exe
*.pdb
*.cache
*.log
*.sqlite

# Visual Studio
.vs/
.vscode/
*.suo
*.csproj.user
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Rider
.idea/
*.sln.iml

# MSTest test results
TestResults/

# NUnit test results
TestResult.xml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# macOS
.DS_Store

# Others
appsettings.json
appsettings.*.json

.env
.mono/
